<H2>Change title</H2>

<div>
  <form  class="example-form" (ngSubmit)="changNotice()" >
    <label for="id">NoteBook id:</label>
    <input [(ngModel)]="noticeToChange.id" type="number" id="id" name="id" required>

    <label for="notice"> NoteBook notice:</label>
    <input [(ngModel)]="noticeToChange.notice" type="text" id="notice" name="notice" required>

    <button  type="submit" >Save</button>

  </form>
</div>

<div *ngIf="noticeToChange != null">
  <h2>Edited</h2>
  <ul>
    <li>NoteBook id: {{noticeToChange.id}}</li>
    <li>NoteBook notice: {{noticeToChange.notice}}</li>
<!--    <li>NoteBook title: {{noteBook.title}}</li>-->
<!--    <li>NoteBook date: {{noteBook.date}}</li>-->
  </ul>
</div>
