<H2>Edit notice</H2>

<div>

  <form  class="example-form" (ngSubmit)="changeNoteBook()" >
    <label for="id">NoteBook id:</label>
    <input [(ngModel)]="editNoteBook.id" type="number" id="id" name="id" required>

    <label for="title"> NoteBook title:</label>
    <input [(ngModel)]="editNoteBook.title" type="text" id="title" name="title" required>

    <label  for="notice"> NoteBook text</label>
    <input [(ngModel)]="editNoteBook.notice" type="text" id="notice" name="text" required>

    <label  for="date"> NoteBook text</label>
    <input [(ngModel)]="editNoteBook.date" type="date" id="date" name="date" required>

    <button  type="submit" >Save</button>

  </form>

</div>

<div *ngIf="editNoteBook != null">
<h2>Edited</h2>
  <ul>
    <li>NoteBook id: {{editNoteBook.id}}</li>
    <li>NoteBook title: {{editNoteBook.title}}</li>
    <li>NoteBook notice: {{editNoteBook.notice}}</li>
    <li>NoteBook date: {{editNoteBook.date}}</li>
  </ul>
</div>
